.containerForm{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    z-index: -1;
}

.containerForm.active{
    opacity: 1;
    z-index: 1;
}

.formSenhaNova{
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.headerForm, .inputForm, .footerForm{
    display: flex;
}

.headerForm{
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    background: #1E90FF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 0.5px;
    border-radius: 5px 5px 0 0;
}

.headerTitulo{
    display: flex;
    justify-content: center;
    width: 85%;
}

.headerBotao{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.headerBotao:hover{
    cursor: pointer;
    background: #0760b3;
}

.inputForm{
    width: 80%;
    height: 70%;
    flex-direction: column;
}

.inputSenha{
    width: 100%;
    height: 50px;
    border: 1px solid silver;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 20px;
}

.inputSenha:hover{
    border: 1px solid #249df3;
}

.footerForm{
    width: 80%;
    height: 20%;
    align-items: flex-start;
    justify-content: right;
}

.btnAlterar{
    width: 40%;
    height: 55%;
    background: #1E90FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 4px;
}

.btnAlterar:hover{
    cursor: pointer;
    background: #0760b3;
}